/* 
 File: Doc 95 main CSS file.
 Author: Atsu Davoh.
 Contact: davoha@carleton.edu
 */

 
 /* General page styling */
     html, body {
	    background-color: white; /*#f5f8fa; #e9eaed; #f5f8fa;*/
        width:100%;
        height:100%;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        overflow-y:auto; 
	    }
	 

	 a {
	    text-decoration: none;
	    color: initial;
	    }
	 
	 a:hover {
	    text-decoration: none;
	    color: initial;
	    }
	
	
	
	
	
	@media (max-width: 1020px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
	
	
		
		
     hr {
	    border: 2px solid #f2f2f2;
	    width: 70%;
	    opacity: 0.5;
	    margin-top: 10px;
	    }
		
		
		
		
		
/* Header styling */
	 .logo {
	    font-family: 'Raleway', cursive;
	    font-size: 27px;
	    margin-top: -8px;
	    padding-top: 0px;
		color: #286090;
	    }	
		
	 .icon-1 {
	    margin-left: -10px;
  
	    }
		
	  
     .nav-custom{
       background-color: white;
        margin-top: 0px;
	    }
	
.pipi {
    text-align: right;
    display: inline;
}

	 .navhidden-custom{
      
         max-width: 1200px;
    
        background: white;
	    position: relative;
	    z-index: 9;
	    }
		
	 .nav-text1 {
     
        color: #f2f2f2;
	    font-size: 14px;
	    font-family: 'Raleway', sans-serif;
	    }

     .nav-text2 {
        color: black;
	    font-size: 14px;
	    font-family: 'Raleway', sans-serif;
	    }
	 
     .nav-text3 {
       
	    display: inline;
	    border: 1px solid #bbcadc;
         border-radius: 5px;
	    background:  #2865a1;
        color: #f1f8fb;
	    font-size: 15px;
	    }
.subty {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

 .nav-text100 {
     margin-right: 0px;
     width: auto;
	    display: block;
	    border: 1px solid #bbcadc;
     border-radius: 5px;
	    background: #f1f8fb; 
        color:  #2865a1;
	    font-size: 15px;
	    }

     .atsu {
	    display: inline;
	    border: 1px solid #bbcadc;
	    background: #f1f8fb;
        color: #2865a1;
	    font-size: 15px;
	    }
	 
.nav-textx {
	    display: inline;
	    border: 1px solid #bbcadc;
	    background: #f1f8fb;
        color: #2865a1;
	    font-size: 15px;
	    }
	 
     .nav-text4 {
	    display: inline;
        color: black;
	    font-size: 15px;
	    font-family: 'Raleway', sans-serif;
	    }
		
	 .search-post1 {
        margin-top: 0px;
	    display: inline;
	    }
 
     .search-post2 {
      
        margin-top: 0px;
	    display: inline;
        }
	
     .placeholder-style::-webkit-input-placeholder { color:black; font-family: 'Raleway', sans-serif; }
     .placeholder-style::-moz-placeholder { color:black; font-family: 'Raleway', sans-serif;} /* firefox 19+ */
     .placeholder-style:-ms-input-placeholder { color:black; font-family: 'Raleway', sans-serif;} /* ie */
      input:-moz-placeholder { color:black; font-family: 'Raleway', sans-serif;}

/* individual: webkit */
     .placeholder-style::-webkit-input-placeholder { color:black; font-family: 'Raleway', sans-serif;}
     .placeholder-style::-webkit-input-placeholder { color:black; text-transform:lowercase; font-family: 'Raleway', sans-serif; }
     .placeholder-style::-webkit-input-placeholder {  color:black; font-family: 'Raleway', sans-serif;}

/* individual: mozilla */
     .placeholder-style::-moz-placeholder { color:black; font-family: 'Raleway', sans-serif;}
     .placeholder-style::-moz-placeholder { color:black; text-transform:lowercase; font-family: 'Raleway', sans-serif;}
     .placeholder-style::-moz-placeholder {  color:black; font-family: 'Raleway', sans-serif;}	 	

	
	 .subtitle-main	{
        width: 95%; 
	    margin: 0 auto;
	    }
	 
     .subtitle-custom1 {
	    color: black;
        font-family: 'Raleway', sans-serif;
        font-size: 20px; 
	    margin-top: 0px;
	    padding-top: 0px;
	    margin-bottom: 30px;
	    text-align: left;
        }
	 
     .subtitle-custom2 {
	    color: black;
        margin-top: -40px;
        font-family: 'Raleway', sans-serif;
	    text-align: left;  
        }	 
	 

	 
/* Main content styling */ 
     .main-row {
        width: 95%; 
         max-width: 1400px;
	    margin: 0 auto;
        }
 
     .main-style {
	    margin-top: 10px;
        background-color: white;
	    border: 3px solid #f2f2f2;
        height: auto;
        }
 
 
     .fb-profilepic {
        width:80px;
        height:80px; 
        align: center;
        border-radius: 0px;
        margin-top: 10px;
        }
		
	 .post-writer {
        display: block; 
        cursor: pointer; 
        color: #286090;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        margin-top: 5px;
        }
 

.free {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    color: #286090;
}

     .comment-but {
	    margin-top: 20px;
         margin-bottom: 10px;
	    border: 1px solid #bbcadc;
         border-radius: 5px;
	    background-color:  #2865a1;
        color: #f1f8fb;
	    font-size: 15px;
	    font-family: 'Raleway', sans-serif;
	    }	
		
	 .main-heading { 
	    color: black;
        font-family: serif;
        text-align: left;
        font-size: 17px;
		font-weight: 450;
        margin-bottom: 10px;
        margin-top: 10px;
        }

		
     .table-style1 {
	    color: black;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
        }
		
	 .debate-leader {
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
         font-weight: normal;
        border: 1px solid red;
        color: red;
        border-radius: 0px;
        padding-left: 5px;
        padding-right: 5px;
        }
 
     .table-style2 {
	    color: black;
        text-align: left;
        font-family: serif;
		font-weight: normal;
        font-size: 15px;
        }

     .comment-personal {
	    margin-top: 15px;
         margin-bottom: -20px;
        display: block;
        height: auto;
        min-height: 50px;
        }
 
     .comment-person {
        display: inline;
        font-family: 'Raleway', sans-serif;
        color: #286090;
        font-size: 15px;
		font-weight: bold;
        }
 

     .comment-opinion {
	    background-color: #f1f8fb;
	    border: 1px solid #bbcadc;
		border-radius: 0px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 4px;
		padding-bottom: 4px;
        display: inline-block;
        font-family: sans-serif;
        color: #2865a1;
        font-size: 15px;
        }
 

.parse {
    color: #2865a1;
    font-size: 14px;
}

navbar-right {
    margin-top: 820px;
}

     .comment-number {
         font-size: 12px;
        display: inline;
        font-family:  sans-serif;
        color: black;
        margin-right: 10px;
        }


     .comment-icon1 {
        display: inline;
       margin-left: 5px;
		color: black;
        }
 
     .comment-icon2 {
        display: inline;
        margin-left: 5px;
		color: black;
        }
 
     .comment-icon3 {
        display: inline;
        margin-left: 5px;
		color: black;
        }

		
	 .new-comments {
        width: auto;
        margin: 0 auto; 
        font-size: 15px;
        font-family:  sans-serif;
        margin-bottom: 20px;  
		border: 1px solid #bbcadc;
	    background: #f1f8fb;
        color: #2865a1;
        }

		
		
		
		
/* Trending styling */ 
     .trend-head {
	    color: black;
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
	    margin-bottom: -10px;
	    margin-top: 30px;  
	    margin-bottom: 10px;
        }	 
	 
     .trend-text {
     		line-height: 110%;
     		
         font-family:  serif;
	    padding-left: 20px;
        max-width: 300px;
        margin: 0 auto;
        font-size: 15px;   
        text-align: left;
        color: #4c7ab7;
        }
 
     .trend-profilepic {
        width:45px;
        height:45px; 
        margin-right: 10px;
        border-radius: 0px;
        }
 
 
 
/* Contribution styling */ 
     .contribution-row { 
	    width: 95%; 
		margin: 0 auto;
	    }
	 
	 .contribution-box {
	 	line-height: 110%;
	    color: black;
	    border-radius: 0px;
	    font-size: 15px;
	    font-family:  serif;
	    background: white;
	    text-align: left;
	    margin-top: 10px;
		min-width: 30px;
	    max-width: 300px;
	    height: auto;
	    margin-bottom: 80px;
	    margin: 0 auto;
	    margin-bottom: 40px;
	    }
	 
	 .contribution-text {
	    color: black;
	    width: 90%;
	    margin: 0 auto;
	    padding-top: 0px;
	    }
	 
	 .contribution-profilepic {
        width:45px;
        height:45px; 
        margin-right: 10px;
        margin-bottom: 0px;
        border-radius: 0px;
        }
 
     .contribution-title {
	    color: black;
        font-size: 14px;
		
        font-family:  'Raleway', sans-serif;
        margin-top: 80px;
        }
 
 
 
 
 /* Argument and Comment form lightbox styling */ 
     .writeargument-textarea {
        height: 200px ! important; 
        resize: none;
        width: 100%;
        
        display: inline; 
        margin: 0 auto;
        margin-bottom: 20px;
        }
 
     .writeargument-heading {
         text-align: left;
        font-family: 'Merriweather', serif;
        font-size: 13px;
        color: black;
        
        }
 
    
 
     .writeargument-radio {
         margin-right: 20px;
        font-family: 'Merriweather', serif;
        font-size: 15px;
         font-weight: normal;
        color: black;
        text-align: center;
        padding-left: 2px;
        }
 
     .writeargument-close {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        text-align: center;
        margin-left: 20px;
        display: inline;
        color: black;
        }
 		
     .black_overlay{
        display: none;
        position: fixed;
		z-index: 1000;
        top: 0%;
        left: 0%;
        width: 100%! important;
        height: 100%! important;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);	
        }

    .white_content {
        display: none;
        position: fixed;
        top: 0%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-top: 270px;
        max-width: 800px;
        height: auto;
        padding: 16px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: white;
        z-index:1002;
        overflow: hidden;	
        }

		
		.white_content1 {
        display: none;
        position: fixed;
        top: 0%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-top: 270px;
        max-width: 800px;
        height: auto;
        padding: 16px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: white;
        z-index:1002;
        overflow: hidden;	
        }

		
		
/* Personal profile styling */ 
	 .personal-row {
        width: 95%;
        margin: 0 auto;
        }	 
		
	 .personal-pane {
	    margin: 0 auto;
	    background-color: white;
		max-width: 300px;
		height: auto;
		padding-bottom: 20px;
		margin-bottom: 20px;
	    }
		
		
	 .contribution-stats1{
	    text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-size: 14px;
		text-align: left;
		margin-left: 10px;
		color: #286090;
		}
		
	 .contribution-stats2{
		font-family: sans-serif;
		font-size: 14px;
		text-align: left;
		margin-left: 10px;
		color: black;
		}
		
		
		
/*	 .filter-pane {
		text-align: right;
		color: #286090;
		font-family: 'Raleway', sans-serif;
		font-weight: bold;
		font-size: 17px;
		background-color: white;
		border-radius: 30px;
		width: 200px;
		margin: 0 auto;
		margin-bottom: 20px;
		} */
		
		
	 .personal-timelinemain {
		background-color: white;
		height: auto;
		padding-bottom: 20px;
		margin-bottom: 20px;
		}
		
	 .personal-timeline1 {
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
		color: #286090;
		text-align: left;
		padding-top: 20px;
		margin-left: 20px;
		font-weight: bold;
		}
		
	 .personal-timeline2 {
	    color: black;
		margin-left: 20px;
		font-family: Georgia;
		text-align: left;
		font-size: 15px;
		margin-right: 10px;
		}
		
	 .personal-timeline3 {
	    color: black;
		margin-left: 80px;
		font-family: Georgia;
		text-align: left;
		font-size: 14px;
		margin-right: 10px;
		}
		
	 .personal-timeline4 {
		font-size: 16px;
		color: #286090;
		font-weight: bold;
		}
		
	 .lightbox-but {
        border: 1px solid #bbcadc;
	    background: #f1f8fb;
        color: #2865a1;
	    font-size: 15px;
	    font-family: 'Raleway', sans-serif;
		display: inline;
		margin: 0 auto;
       }	 
	   
	 .stats-box {
	   border: 1px solid #cccccc;
	   background-color: #f6f6f6;
	   height: auto;
	   }
	   
	   
	   
/* Timeline page styling */ 
	 .personal-timeline5 {
		font-family: 'Raleway', sans-serif;
		font-size: 20px;
		color: #286090;
		text-align: left;
		padding-top: 20px;
		margin-left: 20px;
		font-weight: bold;
		}
		
	 .personal-timeline6 {
		margin-left: 20px;
		font-family: 'Merriweather', serif;
		text-align: left;
		font-size: 17px;
		margin-right: 10px;
		color: black;
		}
		
	 .personal-timeline7 {
		margin-left: 80px;
		font-family: 'Merriweather', serif;
		text-align: left;
		font-size: 17px;
		margin-right: 10px;
		color: black;
		}
		
	 .personal-timeline8 {
	    font-family: 'Raleway', sans-serif;
		font-size: 20px;
		color: #286090;
		font-weight: bold;
		}
		
		
		
		
	 .delete-but {
        color: black;
	    font-size: 15px;
	    font-family: 'Raleway', sans-serif;
		display: inline;
        }	
